* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

html {
  background-image: url("https://images2.alphacoders.com/131/1318225.png");
  background-repeat: no-repeat;
  background-size: cover; /* To make sure the image covers the full view. */
  background-attachment: fixed;
}